@media (max-width: 768px) {
  .hero-header {
    height: 350px;
    padding: 80px 20px;
    background-size: cover;
    background-position: center;
  }

  .card img {
    height: 220px;
  }

  .card {
    min-width: 140px;
    max-width: 160px;
    margin: auto;
  }

  .header-content h1 {
    font-size: 1.5rem;
  }

  .header-content p {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.85rem;
    padding: 6px 12px;
  }
}
